
.spinner_cont{
    .spinner{
        /*transform: rotateZ(0deg);*/
        border-radius: 50%;
        animation: spin 1s linear infinite;
        
    }
    .spinner_text{
        animation: blink 1s linear infinite;
    }
}

/*@media screen and (width <= 700px) {
    .product_card{
        border:2px solid red;
    }
}*/

@keyframes blink {
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
@keyframes spin {
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }
}