
.header{
    background: linear-gradient(90deg, #f44769, #f46a47);
}
.sidebar_aside{
    background-color:rgba(0,0,0,0.78);
}

@media screen and (width <= 700px) {
    .header{
        .nav_section{
            display: none;
            .nav_nav{
                .nav_item{
                    font-size: 1rem;
                }
            }
        }
        .mobile_nav{
            display: flex;
        }
        .ham_section{
            display: block;
        }
    }
}